# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Node
node_modules/
.vite/
dist/
frontend/dist/

# Temp
temp_projects/
uploads/
*.zip

# Editors
.vscode/
.idea/

backend/.venv/
backend/uploads/
backend/extracted_projects/
backend/__pycache__/